<template>
<div>
    <div id="cheat-superadmin" v-if="this.status == false">
       Cheat SuperAdmin : <b style="color: red;">{{ status }}</b>
    </div>
    <div id="cheat-superadmin" v-if="this.status == true">
       Cheat SuperAdmin : <b style="color: green;">{{ status }}</b>
    </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
    data(){
        return {
            status: false,
            data:'',
        }
    },
    methods:{

    },
    created(){
        
        axios({
            method:'post',
            url:'/cheat-superadmin',
        }).then((response) => {
            this.status = response.data;
            console.log(response.data);
        })

    }
}
</script>

<style scoped>

    #cheat-superadmin{
        width:100%;
        height:100%;
        padding-top:200px;
        text-align:center;
        background:#f8fafc;
        /* background:red; */
    }

</style>
