<template>
    <div>
        <AppHome v-if="this.width < 768" />
        <WebHome v-if="this.width >= 768" />
    </div>
</template>

<script>

import AppHome from './app_flatform/Home'
import WebHome from './web_platform/Home'

export default {
    data() {
        return {
            width: 0,
        }
    },
    components: {
        AppHome,
        WebHome
    },
    methods: {
        windowWidth() {
            this.width = window.innerWidth;
        },
    },
    created(){
        if(process.browser) {
            this.width = window.innerHeight;
            window.addEventListener('resize', this.windowWidth);
        }
    }
}
</script>
