<template>
  <div class="login">
    <div class="content">
      <div class="content-inside" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
        <div class="avatar-area">
          <v-img
            :src="'http://' + this.IP + '/profile_images/' + this.picture"
            :lazy-src="'http://' + this.IP + '/profile_images/' + this.picture"
            aspect-ratio="1"
            max-width="130"
            max-height="130"
            class="avatar"
            v-if="this.picture != null && this.picture != ''"
          ></v-img>
          <v-img
            :src="'http://' + this.IP + '/profile_images/default.png'"
            :lazy-src="'http://' + this.IP + '/profile_images/default.png'"
            aspect-ratio="1"
            max-width="130"
            max-height="130"
            class="avatar"
            v-if="this.picture == null || this.picture == ''"
          ></v-img>
        </div>
        <div class="login-area">
          <h2 v-if="user_active == true" style="margin-bottom: 10px; margin-top: -20px;">ยินดีต้อนรับ</h2>
          <p v-if="user_active == true" style="margin-bottom: 10px; font-size: 20px">{{ this.user_preview[0].name }} {{ this.user_preview[0].surname }}</p>
          <!-- email -->
          <transition name="fade">
            <v-text-field
              v-model="form.email"
              outlined
              autofocus
              label="Email"
              name="email"
              v-validate="'required|email'"
              required
              dark
              v-if="progress == false && user_active == false"
            ></v-text-field>
          <!-- password -->
            <v-text-field
              v-model="form.password"
              outlined
              autofocus
              label="Password"
              name="password"
              type="password"
              v-validate="'required|min:6'"
              required
              dark
              v-if="progress == false && user_active == true"
            ></v-text-field>
          </transition>
          <transition name="slide-fade">
            <v-alert type="error" v-show="errors.has('email')">{{ errors.first('email') }}</v-alert>
          </transition>
          <transition name="slide-fade">
            <v-alert type="error" v-show="errors.has('password')">{{ errors.first('password') }}</v-alert>
          </transition>
          <transition name="slide-fade">
            <v-alert type="error" v-show="status_error == true">{{ error_text }}</v-alert>
          </transition>
          <transition name="fade">
            <!-- email -->
            <v-btn
              large
              color="success"
              style="margin-top: 20px"
              block
              @click="checkUser"
              v-if="progress == false && user_active == false"
            >next</v-btn>
            <!-- password -->
            <v-btn
              large
              color="success"
              style="margin-top: 20px"
              block
              @click="authenticate"
              v-if="progress == false && user_active == true"
            >login</v-btn>
          </transition>
          <transition name="fade">
            <v-progress-circular :size="50" color="white" indeterminate v-if="progress == true" class="progress"></v-progress-circular>
          </transition>
        </div>
      </div>
    </div>
    <div class="bg"></div>
  </div>
</template>

<script>
import { login } from "../helpers/auth"
import axios from 'axios'
import {IP} from './../ip_api.config'

export default {
  name: "login",
  data() {
    return {
      IP: IP,
      form: {
        email: "",
        password: ""
      },
      user: "",
      user_preview: null,
      user_active: false,
      progress: false,
      error: null,
      status_error: false,
      error_text: "",
      picture: null,
    };
  },
  methods: {
    authenticate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("login");
          login(this.$data.form)
            .then(res => {
              this.$store.commit("loginSuccess", res);
            })
            .catch(error => {
              this.error_text = "Login Faild !"
                this.status_error = true;
              this.$store.commit("loginFailed", { error });
            });
        }
      });
    },
    checkUser() {
      this.status_error = false;
      this.$validator.validateAll().then(result => {
        if (result) {
          this.progress = true;
          axios({ 
            method: 'post', 
            url: '/checkUser',
            data: {
              email: this.$data.form.email
            }
          }).then((response) => {
              this.progress = false;
              this.user_preview = JSON.parse(response.data)
              if(this.user_preview.length != 0){
                this.picture = this.user_preview[0].picture;
                this.user_active = true;
              }else{
                this.error_text = "User Not Found !"
                this.status_error = true;
              }
          })
        }
      });
    }
  },
  computed: {
    authError() {
      return this.$store.getters.authError;
    }
  }
};
</script>


<style scoped>
.login {
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff url("../../assets/images/wallpaper/cannabis.jpg") center
    center fixed no-repeat;
  background-size: cover;
  filter: blur(13px);
  transform: scale(1.1);
}

.content {
  margin: 0 auto;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 30%;
}

.content-inside {
  width: 500px;
  height: 430px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 15px;
  position: relative;
  left: -50%;
  transition: 0.5s all;
}

.avatar {
  border-radius: 360px;
  margin: 0 auto;
  margin-top: -65px;
}

.login-area {
  padding: 50px;
  padding-top: 40px;
  color: white;
  text-align: center;
}

.progress {
  position: absolute;
  top: 44%;
  left: 44%;
  bottom: 44%;
}

/* transition */

/* fade-slide */

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}

/* fade */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
