<template>
    <div class="main">
        <v-app>
            <HeaderHome style="width: 100%; position: fixed; z-index: 999;"/>
            <router-view />
        </v-app>
    </div>
</template>

<script>

import HeaderHome from './../components/HeaderHome'

    export default {
        name: 'main-app',
        components: {
            HeaderHome
        }
    }
</script>
