<template>
  <div>
    <div v-if="!currentUser">
      <v-app-bar dark flat style="background-color: transparent">
        <v-toolbar-title><router-link to="/" id="link">Home</router-link></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn text>
            <router-link to="/" id="link">
              <v-icon>mdi-information-variant</v-icon>
              <span style="margin-left: 5px">About US</span>
            </router-link>
          </v-btn>
          <v-btn text>
            <router-link to="/login" id="link">
              <v-icon>mdi-login</v-icon>
              <span style="margin-left: 10px">Login</span>
            </router-link>
          </v-btn>
          <v-btn text>
            <router-link to="/register" id="link">
              <v-icon>mdi-account-plus</v-icon>
              <span style="margin-left: 10px">Register</span>
            </router-link>
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </div>

    <div v-if="currentUser">
      <v-app-bar dark flat style="background-color: transparent">
        <v-toolbar-title><router-link to="/" id="link">Home</router-link></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn text @click.prevent="logout">
            <router-link to="/register" id="link">
              <v-icon>mdi-logout</v-icon>
              <span style="margin-left: 10px">Logout</span>
            </router-link>
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      status: '',
      user: ''
    }
  },
  methods: {
    logout() {
      this.$store.commit('logout');
      this.$router.push('/');
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  created() {
    this.user = this.$store.getters.currentUser;
  },
}
</script>


<style scoped>
#link {
  text-decoration: none;
  color: white;
}
</style>
