<template>
    <div>
        App Platform
    </div>
</template>

<script>
export default {
    data() {
        return {
            width: 0,
        }
    },
    methods: {
        windowWidth() {
            this.width = window.innerWidth;
        },
    },
    created(){
        if(process.browser) {
            this.width = window.innerHeight;
            window.addEventListener('resize', this.windowWidth);
        }
    }
}
</script>
