<template>
    <div id="slide-home">
        <swiper :options="swiperOption">
            <swiper-slide>
                <div id="h1-slide-left">
                    <h1 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><b>Medical Cannabis<br>Tracking</b></h1> <br>
                    <h3 data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">Description information ... </h3>
                </div>
                <img src="../../../../assets/images/slide/slide-1.png" alt="" width="100%">
            </swiper-slide>
             <swiper-slide>
                <div id="h1-slide-right">
                    <h1 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><b>Medical Cannabis<br>Tracking</b></h1> <br>
                    <h3 data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">Description information ... </h3>
                </div>
                <img src="../../../../assets/images/slide/slide-2.png" alt="" width="100%">
            </swiper-slide>
             <swiper-slide>
                <div id="h1-slide-left">
                    <h1 data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><b>Medical Cannabis<br>Tracking</b></h1> <br>
                    <h3 data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">Description information ... </h3>
                </div>
                <img src="../../../../assets/images/slide/slide-3.png" alt="" width="100%">
            </swiper-slide>
            <div class="swiper-button-prev" slot="button-prev" id="slide-button-prev"><img src="../../../../assets/images/slide/prev.png" alt=""></div>
            <div class="swiper-button-next" slot="button-next" id="slide-button-next"><img src="../../../../assets/images/slide/next.png" alt=""></div>
        </swiper>
    </div>
</template>

<script>
export default {
    data() {
        return{
            swiperOption: {
                speed:300,
                spaceBetween: 30,
                centeredSlides: true,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
          }
        }
        }
    }
}
</script>

<style scoped>

    #h1-slide-left{
        position:absolute;
        margin-left:12%;
        margin-top:15%;
        transition:0.5s all;
    }

    #h1-slide-left h1{
        font-size:70px;
    }

    #h1-slide-right{
        position:absolute;
        margin-left:63%;
        margin-top:15%;
        transition:0.5s all;
    }

    #h1-slide-right h1{
        font-size:70px;
    }

    #slide-button-prev{
        position:absolute;
        z-index:10;
        margin-left:2%;
    }

    #slide-button-prev img{
        width:70px;
    }

    #slide-button-next{
        position:absolute;
        z-index:10;
        margin-right:4%;
    }

    #slide-button-next img{
        width:70px;
    }

    @media screen and (max-width: 1500px)
    {
        #h1-slide-left{
            margin-left:10%;
        }

        #h1-slide-left h1{
            font-size:60px;
        }

        #h1-slide-right{
            margin-left:60%;
        }

        #h1-slide-right h1{
            font-size:60px;
        }
    }

    @media screen and (max-width: 1300px)
    {
        #h1-slide-left{
            margin-left:8%;
        }

        #h1-slide-left h1{
            font-size:50px;
        }

        #h1-slide-right{
            margin-left:60%;
        }

        #h1-slide-right h1{
            font-size:50px;
        }
    }

    @media screen and (max-width: 1100px)
    {
        #h1-slide-left{
            margin-left:8%;
        }

        #h1-slide-left h1{
            font-size:40px;
        }

        #h1-slide-right{
            margin-left:59%;
        }

        #h1-slide-right h1{
            font-size:40px;
        }
    }

    @media screen and (max-width: 900px)
    {
        #h1-slide-left{
            margin-left:7%;
        }

        #h1-slide-left h1{
            font-size:30px;
        }

        #h1-slide-right{
            margin-left:62%;
        }

        #h1-slide-right h1{
            font-size:30px;
        }
    }

</style>


